<div class="container-fluid">
    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#phnet-main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand"
           href="/"
           data-ui-sref="index"
           data-ui-sref-active="active">petterhaggholm.net</a>
    </div>

    <div class="collapse navbar-collapse" id="phnet-main-nav">
        <ul class="nav navbar-nav" ng-cloak>
            <li data-ui-sref="aboutme"
                data-ui-sref-active="active">
                <a href="/aboutme" data-ui-sref="aboutme">
                    <i class="fa fa-user"></i>
                    About me
                </a>
            </li>

            <li data-ui-sref="books.list"
                ng-class="{active: $state.includes('books')}">
                <a href="/books" data-ui-sref="books.list">
                    <i class="fa fa-book"></i>
                    Reading list
                </a>
            </li>
            <li data-ui-sref="gallery.main"
                ng-class="{active: $state.includes('gallery')}">
                <a href="/gallery" data-ui-sref="gallery.main">
                    <i class="fa fa-picture-o"></i>
                    Gallery
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0);"
                   title="Files"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-download"></i>
                    Files
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li class="disabled"><a href="javascript:void(0)">
                        Download
                    </a></li>
                    <li><a href="{{staticRoot}}misc/petter_haggholm_resume.pdf" target="_blank">
                        <i class="fa fa-fw fa-download"></i>
                        Résumé
                    </a></li>
                    <li><a href="{{staticRoot}}misc/petterhaggholm.net-0x892C8636-pub.asc" target="_blank">
                        <i class="fa fa-fw fa-key"></i>
                        PGP public key
                    </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="link-toggle"
                   href="javascript:void(0);"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-external-link"></i>
                    Links <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://twitter.com/haggholm">
                        <i class="fa fa-fw fa-twitter"></i>
                        Twitter
                    </a></li>
                    <li><a href="http://ca.linkedin.com/in/petterhaggholm/">
                        <i class="fa fa-fw fa-linkedin"></i>
                        LinkedIn
                    </a></li>
                    <li><a href="https://www.facebook.com/petterhaggholm">
                        <i class="fa fa-fw fa-facebook"></i>
                        Facebook
                    </a></li>
                    <li><a href="https://plus.google.com/u/0/+PetterHäggholm/">
                        <i class="fa fa-fw fa-google-plus"></i>
                        Google+
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="http://haggholm.dreamwidth.org/">
                        <i class="fa fa-fw fa-book"></i>
                        Blog
                    </a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="javascript:void(0);"
                   class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-heart-o"></i>
                    Likes <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                    <li class="disabled"><a href="javascript:void(0)">
                        Entertainment
                    </a></li>
                    <li><a href="https://xkcd.com/"
                           title="A webcomic of romance, sarcasm, math, and language.">
                        <i class="fa fa-fw fa-external-link"></i>
                        xkcd
                    </a></li>
                    <li><a href="https://www.youtube.com/user/6funswede/videos"
                           title="The Tom Lehrer Wisdom Channel">
                        <i class="fa fa-fw fa-music"></i>
                        Tom Lehrer
                    </a></li>

                    <li class="divider"></li>
                    <li class="disabled"><a href="javascript:void(0)">
                        Resources
                    </a></li>
                    <li><a href="https://stackoverflow.com/">
                        <i class="fa fa-fw fa-stack-overflow"></i>
                        Stack Overflow
                    </a></li>
                    <li><a href="https://www.npmjs.com/" title="The Node.js package manager">
                        <i class="fa fa-fw fa-external-link"></i>
                        npm
                    </a></li>
                    <li><a href="https://nodejs.org/">
                        <i class="fa fa-fw fa-external-link"></i>
                        Node.js
                    </a></li>
                    <li><a href="http://expressjs.com/"
                           title="Fast, unopinionated, minimalist web framework for Node.js">
                        <i class="fa fa-fw fa-external-link"></i>
                        Express
                    </a></li>
                    <li><a href="http://gulpjs.com/" title="The streaming build system">
                        <i class="fa fa-fw fa-external-link"></i>
                        Gulp
                    </a></li>

                    <li class="divider"></li>
                    <li class="disabled"><a href="javascript:void(0)">
                        Software
                    </a></li>
                    <li><a href="https://www.keepassx.org/" title="Cross-platform password manager">
                        <i class="fa fa-fw fa-lock"></i>
                        KeePassX
                    </a></li>
                    <li><a href="http://ubuntugnome.org/"
                           title="All the convenience of Ubuntu, none of the horrors of Unity">
                        <i class="fa fa-fw fa-linux"></i>
                        Ubuntu GNOME
                    </a></li>
                    <li><a href="http://www.jetbrains.com/pycharm/"
                           title="Python IDE &amp; Django IDE for Web developers">
                        <i class="fa fa-fw fa-external-link"></i>
                        PyCharm
                    </a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>
