@import '../../node_modules/bootstrap/less/bootstrap';
@import 'bs-variables.less';

@import '../../node_modules/font-awesome/less/font-awesome';
@fa-font-path: '../assets';

#bookTable {
  width: 100% !important;

  td:nth-child(1) { width: 40%; }
  td:nth-child(2) { width: 30%; }
  td:nth-child(3) { width: 20%; }
  td:nth-child(4) { width: 10%; }
}


#gallery-container {
  display: block;
  text-align: center;

  .piece {
    display: inline-block;
    width: 125px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }

    img {
      width: 100px;
      height: 100px;
      border: 1px solid white;
      opacity: 0.9;
    }
    img:hover {
      border-color: black;
      opacity: 1;
    }
  }
}


.navbar a {
  outline: none;
}
.navbar-brand.active { color: @navbar-inverse-link-active-color; }

@muted-link-color: lighten(desaturate(@link-color, 50%), 25%);
.text-muted a {
  color: @muted-link-color;
}

caption {
  text-align: left;
  font-size: @font-size-h4;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  color: @headings-color;
  margin-top: (@line-height-computed / 2);
  margin-bottom: (@line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: @headings-small-color;
  }
}

body {
  overflow-y: scroll;
}
main {
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.entry p {
  text-align: justify;
}



table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting {
  background: none !important;
}

table.table thead .sorting_asc:after,
table.table thead .sorting_desc:after,
table.table thead .sorting:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
}

table.table thead .sorting:after {
  content: "\f0dc";
  opacity: 0.25;
}
table.table thead .sorting_desc:after {
  content: "\f0dd";
}
table.table thead .sorting_asc:after {
  content: "\f0de";
}

#aboutme-portrait {
  outline: 2px solid #000;
  margin: 2.25ex 1ex 1ex -2.25ex;
  width: 150px;
  height: 150px;
  float: left;
}

@media screen {
  .refbody {
    display: none;
  }
}

.navbar span.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: rgb(157, 157, 157);
  cursor: auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 50px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline-color: rgb(157, 157, 157);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
}

.arrow {
  .fa();

  &.left:before           { content: @fa-var-chevron-left; }
  &.right:before          { content: @fa-var-chevron-right; }
  &.up:before             { content: @fa-var-chevron-up; }
  &.down:before           { content: @fa-var-chevron-down; }
}

.icon {
  .fa();

  &.chevron.left:before   { content: @fa-var-chevron-left; }
  &.chevron.right:before  { content: @fa-var-chevron-right; }
  &.chevron.up:before     { content: @fa-var-chevron-up; }
  &.chevron.down:before   { content: @fa-var-chevron-down; }
}

#bookTableContainer {
  th:nth-child(1) { width: 55%; }
  th:nth-child(2) { width: 25%; }
  th:nth-child(3) {
    width: 15%;
    min-width: 5em;
  }
  th:nth-child(4) {
    width: 5%;
    min-width: 3em;
  }
}
