<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>petterhaggholm.net</title>
  <meta name="author" content="Petter Häggholm"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <meta name="twitter:dnt" content="on"/>
  <meta name="twitter:widgets:csp" content="on"/>

  <link rel="prefetch" href="/assets/fontawesome-webfont.woff2?v={{fontAwesomeVersion}}" />
  <link rel="prefetch" href="/{{appEntry}}" />
  <link rel="prefetch" href="//platform.twitter.com/widgets.js" />
  <link rel="prefetch" href="//www.google-analytics.com/analytics.js" />

  <link rel="shortcut icon" type="image/png" href="/img/eye-16.png" />
  <link rel="stylesheet" href="/assets/index.css" />
</head>

<body>
  {{{ content }}}
  <script src="/{{appEntry}}"></script>
  <script async src="//www.google-analytics.com/analytics.js"></script>
</body>

</html>
